:root {
	--turquoise: #0cc0e1;
	--light-blue: #29aae1;
	--blue: #2876bb;
	--dark-blue: #314d83;
	--light-gray: #cccccc;
	--link-color: #2980c1;
}

body {
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	margin-top: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

h1 {
	color: var(--dark-blue);
	font-size: 3rem;
	font-weight: 700;
}

a,
a:visited,
a:hover {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* styling breadcrumb nav */
.breadcrumbs ul {
	padding: 0;
}

.breadcrumbs ul {
	list-style: none;
}

.breadcrumbs li {
	display: inline-block;
	font-size: 0.875rem;
	background-color: ;
}

.breadcrumbs li a {
	color: black;
}

.breadcrumbs li::after {
	content: '\003E';
}

.breadcrumbs li:last-child::after {
	content: '';
}
